


.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    position: relative;
}
.custom-loader{
    position: absolute;
    right: 2rem;
    bottom: 5px;
}

p{
    font-size: var(--default-font-size);
}

.increment-button{
    font-size: 12px;
    margin-left: 5px;
}

.date-picker-input{
    font-size: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    color: var(--text-color);
    background: var(--bkg-color-light);
}