<div mat-dialog-content>
    <p>Escolha uma data prevista de <b>devolução</b></p>
    <input [min]="minDate" [max]="maxDate.format('YYYY-MM-DD')" [value]="actualDate.format('YYYY-MM-DD')"
        class="date-picker-input" type="date">
        <button class="increment-button" [disabled]="this.actualDate.toDate() >= this.maxDate.toDate()" (click)="incrementDate()">+ 1 mês</button>
</div>
<div class="buttons" mat-dialog-actions>
    <button (click)="onNoClick()" class="invisible">Cancelar</button>
    <button cdkFocusInitial>Pegar emprestado</button>
</div>