.content {
    margin: 1rem 1.5rem;
    max-width: 500px;
    overflow: hidden;

    section {
        margin-bottom: 2rem;
        position: relative;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    .loader-content {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 150px;
    }

    .books {
        display: flex;
        overflow: auto;
        padding: 2rem 0.5rem;
        border: solid 1px #464646;
        border-radius: 8px;
        height: 150px;

        .highlight-books {
            margin-right: 1rem;
            img {
                width: var(--default-book-width);
                height: var(--default-book-height);
            }
        }
    }

    .more {
        position: absolute;
        right: 0;
        font-size: 12px;
        margin-top: 5px;
        color: var(--primary-color);
    }

    .image-logo {
        position: relative;
        display: flex;
        align-items: flex end;
        p {
            margin: 0;
            font-size: 10px;
            margin-left: 10px;
        }
        .logo-ipvn {
            max-width: 25px;
            left: 0;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
